*{
    margin: 0;
    background-color: #243010;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center; 
  height: 100vh;
  background-color: #243010;
}
.container2{
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: end;
    height: 100vh;
    background-color: #243010;
}

#canvasLeft {
  background-color: rgb(50, 44, 56);
  width: 25vw;   
  height: 30vh;
  margin:3em;

}

#canvas {
  background-color: black;
  width: 50vw;
  height: 80vh;


}