*{
    margin: 0;
    background-color: #243010;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

#canvas{
   /*background-image: url(spazio.jpg);*/
   background-color: black;
    width: 85%;
    height: 85%;
    border: 3px solid #87A330;
    box-shadow:  0px 0px 60px #A1C349;
    position: relative;
    z-index: 1;
}
#canvasLeft{
    background-color: rgb(197, 202, 202);
    width: 25%;
    height: 30%;
    position: absolute;
    z-index: 2;
    left: 10px;
}