*{
    margin: 0;
    background-color: #243010;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px; 
  height: 100vh;
  background-color: #243010;
}

#canvasLeft {
  background-color: rgb(197, 202, 202);
  width: 25vw;   
  height: 30vh;
  
}

#canvas {
  background-color: black;
  width: 50vw;
  height: 80vh;
  border: 3px solid #87A330;
  box-shadow: 0px 0px 60px #A1C349;
}